.header {
  --headerHeight: var(--wideHeader);
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: var(--headerHeight);
  padding: 0;
  background: #673ab7;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
  z-index: 50;
  transition: all 1s;
}

.header h1 {
  float: left;
  margin: 0;
  padding: 0 15px;
  font-size: 24px;
  line-height: var(--headerHeight);
  font-weight: 400;
  color: #fff;
  transition: line-height 1s;
}

.header nav {
  float: right;
  font-size: 100%;
}

.header nav a {
  display: inline-block;
  height: var(--headerHeight);
  line-height: var(--headerHeight);
  padding: 0 15px;
  min-width: 50px;
  text-align: center;
  background: rgba(255, 255, 255, 0);
  text-decoration: none;
  color: #fff;
  will-change: background-color;
  transition: all 0.3s, height 1s, line-height 1s;
}

.header nav a:hover,
.header nav a:active {
  background: rgba(0, 0, 0, 0.2);
}

.header nav a.active {
  background: rgba(0, 0, 0, 0.4);
}

/* scrolled in page */
html:not([data-scroll='0']) .header {
  background: #683ab78c;
  --headerHeight: var(--thinHeader);
}
