html,
body {
  height: 100%;
  width: 100%;
  padding: 0;
  margin: 0;
  background: #0d1117;
  color: #fff;
  font-family: 'Helvetica Neue', arial, sans-serif;
  font-weight: 400;
  /* color: #444; */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
}

#app {
  height: 100%;
}

a {
  color: #00c3ff;
}

.content {
  padding: 56px 20px;
  min-height: 100%;
  width: 100%;
}

.button {
  background-color: var(--btnColour, #4caf50);
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}
